.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeContainer * {
    color: white;
}
.firstItem {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 70px;
    color: white;
    z-index: 10;
    height: 100vh;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.descriptionContainer h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-left: 30px;
    line-height: 1.5;
}

.descriptionContainer span {
    text-wrap: wrap;
}

.descriptionContainer button {
    background-color: #ff6464;
}

.imageContainer {
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.secondItem {
    background-color: #edf7fa;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 30px; */
}

/* pick first div from second item */
.secondItem > div:first-child {
    padding: 50;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    display: flex;
    width: 100%;
}

.secondItem h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
}

.about-header {
    font-size: 0.8rem;

    /* padding-right: 30px; */
    line-height: 1.5;
    color: gray;
}

.about-content {
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about-content h1 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 1rem;
    padding-left: 30px;
    line-height: 1.2;
    margin-top: 0;
    /* center it */
    text-align: center;
}

.about-content-header-creative {
    color: var(--first-animation-color);
}

.about-sub-header {
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    word-break: keep-all;
    width: 60%;
    margin: auto;
}

.about-sub-header span {
    color: gray;
}

#first-section {
    position: relative;
    overflow: hidden;
}

#first-section::before,
#first-section::after {
    content: 'code';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    font-size: 30rem;
    letter-spacing: 50px;
    font-weight: bold;
    color: rgb(101, 101, 101);
    white-space: nowrap;
    animation: moveText 30s linear infinite;
    opacity: 0.05; /* Reduce opacity for a subtle effect */
}

@keyframes moveText {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

#first-section::before {
    left: 100%; /* Starts off-screen */
}

#first-section::after {
    left: 200%; /* Starts further off-screen to create the repeating effect */
}
