.card {
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto 1fr;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s;
}
/* if mobile add padding-right */
@media (max-width: 768px) {
    .card {
        margin-right: 30px;
    }
}

.card-header {
    grid-column: 1 / -1; /* Make header span across all columns */
    display: flex;
    justify-content: space-between;
    /*  add border to bottom */
    border-bottom: var(--border-width) var(--border-color) solid;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 8px;
}

.card-header-title {
    padding-left: 5px;
    /* make it all lower case */
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1px;
}

.card-content {
    background-color: rgb(0, 0, 0, 0.5);
}

.card-content img {
    display: block; /* Prevent inline elements' spacing issue */
    width: 100%;
    height: auto; /* Make sure the image scales properly */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any paddings */
}

.card {
    /* Regular card styles */
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(1); /* Ensure it's scaled to 1 by default */
}

.card-animated {
    /* This class only controls the animation state */
    opacity: 0;
}

.card-animate {
    /* Apply the animation when the class is added */
    animation: popup 0.8s ease-in-out forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
