.r {
    color: red;
}

.g {
    color: green;
}
.b {
    color: blue;
}

.about-me-container {
    font-weight: bold;
    padding: 20px;
    letter-spacing: 1.5px;
    padding-left: 30px;
    width: 100%;
    max-width: 50ch;
}

.about-me-container p {
    margin: 0;
    margin-top: 5px;
}

.gr {
    color: grey;
}

.where-i-work-container {
    font-weight: bold;
    padding: 20px;
    letter-spacing: 1.5px;
    padding-left: 30px;
    width: 100%;
    max-width: 50ch;
}

.hobbies-container {
    font-weight: bold;
    /* padding: 10px; */
    letter-spacing: 1.5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 50ch;
}

/* on mobile for about-me-container */
@media (max-width: 1120px) {
    .about-me-container {
        font-size: 1.4rem;
        /* make thee text break */
        width: inherit;
        text-wrap: break-word;
    }
    /* same for others */
    .where-i-work-container {
        font-size: 1.3rem;
        /* make thee text break */
        width: inherit;
        text-wrap: break-word;
    }
    /* same for hobbies */
    .hobbies-container {
        font-size: 1.1rem;
        /* make thee text break */
        width: inherit;
        text-wrap: break-word;
    }
}

/* if not mobile */
@media (min-width: 1120px) {
    .about-me-container {
        font-size: 1.2rem;
        /* make thee text break */
    }
    /* same for others */
    .where-i-work-container {
        font-size: 1.1rem;
        /* make thee text break */
    }

    /* same for hobbies */
    .hobbies-container {
        font-size: 1.2rem;
        /* make thee text break */
    }
}

#third-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
