code {
    font-family: 'Signika-Regular';
}

* {
    font-family: 'Signika-Regular';
}
@font-face {
    font-family: 'Signika-Regular';
    src: url('./fonts/Signika-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: 'Signika-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    overflow: hidden;
    /* behaviour smooth */
    scroll-behavior: smooth;
}

/* For Firefox */
/* Track */
::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}

/* For IE, Edge, and Safari */
/* Track */
::-webkit-scrollbar-track {
    background: rgba(
        241,
        241,
        241,
        0.5
    ); /* Light grey color with 50% opacity */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}

.main-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}
