code {
    font-family: 'Signika-Regular';
}

* {
    font-family: 'Signika-Regular';
}
@font-face {
    font-family: 'Signika-Regular';
    src: url('./fonts/Signika-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: 'Signika-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    overflow: hidden;
    /* behaviour smooth */
    scroll-behavior: smooth;
}

/* For Firefox */
/* Track */
::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}

/* For IE, Edge, and Safari */
/* Track */
::-webkit-scrollbar-track {
    background: rgba(
        241,
        241,
        241,
        0.5
    ); /* Light grey color with 50% opacity */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.main-content-wrapped {
    flex: 1;
    overflow-y: scroll;
}

:root {
    --animation-duration: 2s;
    --animation-delay: 1s;
}

.main-app-content {
    transform: scale(0);
    animation: popup var(--animation-duration) var(--animation-delay) forwards;
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
