@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    overflow-x: hidden;
    height: 100vh;
}

/* For Firefox */
/* Track */
::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}

/* For IE, Edge, and Safari */
/* Track */
::-webkit-scrollbar-track {
    background: rgba(
        241,
        241,
        241,
        0.5
    ); /* Light grey color with 50% opacity */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5); /* Grey color with 50% opacity */
}
